{% extends 'base.html' %}

{% block heading %}
Add Incident
{% endblock %}

{% block content %}
<form action = "/add-incident" method="POST">
    <div class="mb-3">
        <div id="incidentHelp" class="form-text">Name of incident</div>
        <input type="incident" class="form-control" name="Incident" id="add_incident">
    </div>
    <div class="mb-3">
        <div id="UrlType" class="form-text">Url Link</div>
        <input type="url" class="form-control" name="URL" id="TypeUrl">
    </div>

    <div class="mb-3">
        <div id="IncidentYear" class="form-text">Year it took place</div>
        <input type="year" class="form-control" name="Year" id="add_year">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}

